#ant's evinronment properties
environment.properties

#.war
MyTemplate.war

#eclispe configuration
.classpath
.project

#other not necessary files & dirs
.settings
build
tmp
WebContent
bin

!.gitignore
